.homepage {
  width: 1061px;
  height: 1065px;
  border-radius: 16px;
  padding: 15, 16, 15, 16px;
  font-family: Nunito Sans;
  /* background-color: aqua; */
}
a {
  text-decoration: none;
}
.anchor {
  text-decoration: none;
  color: black;
}
.line-chart {
  background: linear-gradient(
    179.7deg,
    rgba(47, 162, 185, 0.12) -39.05%,
    rgba(47, 162, 185, 0) 99.74%
  );
  width: 871px;
  height: 273px;
  position: relative;
  left: 63px;
  top: 70px;
}

.personal-acc {
  width: 332px;
  height: 164px;
  background: #fff6e6;
  border-radius: 16px;
  color: #001b21;
  justify-content: space-between;
}
h4 {
  font-size: 28px;
  font-weight: 700;
}
.personal-acc p {
  font-size: 16px;
  font-weight: 400;
}
.euro-wallet {
  background: #fbf1f0;
  width: 332px;
  height: 164px;
  border-radius: 16px;
  color: #001b21;
}
.america {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  float: right;
  background: #fff6e6;
}
.fees {
  background: #ddecef;
  width: 332px;
  height: 164px;
  border-radius: 16px;
  color: #001b21;
}
.one {
  width: 120px;
  height: 131px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 0px rgb(223, 221, 221);
  text-align: center;
}
.one-image {
  background: #f97316;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 3px;
}
.two-image {
  background: #005061;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 3px;
}
.three-image {
  background: #f59e0b;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 3px;
}
.four-image {
  background: #5eead4;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 3px;
}
.five-image {
  background: #9333ea;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 3px;
}
.six-image {
  background: #ffcb00;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 3px;
}
.seven-image {
  background: #f43f5e;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 3px;
}
.links {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 600px) {
  .line-chart {
    background: linear-gradient(
      179.7deg,
      rgba(47, 162, 185, 0.12) -39.05%,
      rgba(47, 162, 185, 0) 99.74%
    );
    width: 371px;
    height: 173px;
    position: relative;
    left: 43px;
    top: 50px;
  }
  .euro-wallet,
  .fees,
  .personal-acc {
    width: 292px;
    height: 164px;
    margin: 8px;
    /* padding-bottom: 25px; */
  }
  h4 {
    font-size: 23px;
    font-weight: 600;
  }
}
